<footer class="bg-black text-white py-4 mt-24">
    <div class="container mx-auto flex justify-between items-start">
  
      <!-- Sección de Logos -->
      <div class="flex flex-col gap-4 ml-10">
        <img src="logo/logoRC.png" alt="Logo" class="h-24 w-auto">
      </div>
  
      <!-- Sección de Contacto -->
      <div class="flex flex-col gap-2 mr-96">
        <p class="text-lg font-semibold">Contáctanos al:</p>
        <p class="text-base">+52 961 234 5426</p>
        <p class="text-base">+52 961 335 6346</p>
      </div>
  
      <!-- Sección de Enlaces -->
      <div class="flex flex-row items-center text-[#FF3A3A] space-x-2  mr-32">
        <p class="text-lg font-semibold"><a href="/P">Perifericos</a></p>
        <p>||</p>
        <p class="text-lg font-semibold"><a href="/C">Computadoras</a></p>
      </div>
  
    </div>
  </footer>
  