<div class="w-full py-10">
  <div class="max-w-screen-lg mx-auto px-6">

    <h1 class="text-[30px] font-bold font-bebas-neue text-black uppercase my-24 text-center">
      Periféricos y accesorios para optimizarte
    </h1>

    <div class="flex items-start space-x-6">

      <div class="w-1/3 border-r-2">
        <img src="/p2/setupL.jpeg" alt="Periféricos" class="w-full h-auto object-cover">
      </div>

      <div class="w-4/5">
        <h2 class="text-[24px] font-bold font-bebas-neue text-black mb-4">
          La clave para mejorar tu experiencia
        </h2>
        <p class="text-[16px] font-open-sans text-black text-justify mb-4">
          Contar con buenos componentes internos es esencial, pero los periféricos y accesorios son igual de importantes para sacar el máximo provecho de tu configuración. Un buen teclado, ratón y monitor pueden mejorar notablemente tu productividad y comodidad, tanto en juegos como en el trabajo diario.
        </p>
        <p class="text-[16px] font-open-sans text-black text-justify mb-4">
          Más allá de lo básico, otros accesorios como auriculares, cámaras web o sistemas de audio también pueden elevar tu experiencia de usuario. Elegir periféricos que se adapten a tus necesidades no solo te permite trabajar o jugar de manera más eficiente, sino que también transforma tu equipo en una herramienta personalizada y cómoda.
        </p>
        <p class="text-[16px] font-open-sans text-black text-justify">
          En esta sección, exploraremos cómo los periféricos correctos pueden optimizar tu experiencia y hacer que disfrutes aún más de tu computadora.
        </p>
      </div>
    </div>
  </div>
</div>

<app-custom-section
    [square1Content]="'ENTRADA'"
    [square2Content]="'GAMER'"
    [square3Content]="'TRABAJO'"
    [square1Icon]="svgIcon2"
    [square2Icon]="svgIcon2"
    [square3Icon]="svgIcon3">
</app-custom-section>

  
<div>
  <h1 class="text-[30px] font-bold font-bebas-neue text-black uppercase my-12 text-center">
    PERIFERICOS DE ENTRADA
  </h1>
</div>
 
<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    
  <app-card
  [title]="'Monitor Acer 22 pulgadas'"
  [text]="'Este monitor de 22 pulgadas es perfecto para usuarios que buscan una opción asequible y funcional. Su resolución Full HD ofrece imágenes nítidas, lo que lo convierte en una excelente opción para tareas cotidianas como navegación web, reproducción de videos y trabajo en documentos. Con su diseño delgado, encajará fácilmente en cualquier escritorio sin ocupar mucho espacio. Precio: $120 USD.'">
</app-card>

  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">

</div>

<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
  
  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mx-4">



  <app-card-r
  [title]="'Teclado Logitech K120'"
  [text]="'El teclado Logitech K120 es conocido por su durabilidad y comodidad. Con un diseño resistente a derrames, teclas de perfil bajo y un diseño de tamaño completo, es una opción confiable tanto para el hogar como para la oficina. Su precio asequible lo convierte en una opción ideal para usuarios que necesitan un teclado básico pero eficiente. Precio: $15 USD.'">
</app-card-r>

</div>

<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    
  <app-card
  [title]="'Mouse HP X1000'"
  [text]="'El HP X1000 es un mouse óptico diseñado para usuarios que buscan simplicidad y funcionalidad. Su diseño compacto y liviano lo hace fácil de usar, mientras que la conexión por cable garantiza una respuesta rápida y precisa. Ideal para tareas cotidianas como la navegación por internet, edición de documentos y uso de aplicaciones básicas. Precio: $10 USD.'">
</app-card>

  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">

</div>


<div>
  <h1 class="text-[30px] font-bold font-bebas-neue text-black uppercase my-12 text-center">
    PERIFERICOS DE GAMER
  </h1>
</div>
 
<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    
  <app-card
  [title]="'Monitor ASUS TUF Gaming 27 pulgadas'"
  [text]="'El monitor ASUS TUF Gaming es ideal para jugadores exigentes. Con una pantalla de 27 pulgadas y una tasa de refresco de 165Hz, ofrece una experiencia de juego fluida y sin interrupciones. Además, su tiempo de respuesta de 1ms minimiza el retraso en pantalla, lo que es crucial para juegos competitivos. Compatible con tecnologías como FreeSync y G-Sync, este monitor está diseñado para optimizar cada sesión de juego. Precio: $350 USD.'">
  </app-card>

  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">

</div>

<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
  
  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mx-4">

  <app-card-r
  [title]="'Teclado mecánico Razer BlackWidow V3'"
  [text]="'El Razer BlackWidow V3 es un teclado mecánico diseñado específicamente para gamers. Equipado con switches mecánicos de Razer, ofrece una respuesta rápida y táctil en cada pulsación. Su retroiluminación RGB totalmente personalizable te permitirá adaptar el teclado a tu estilo de juego y ambiente. Además, está construido con materiales de alta calidad para resistir horas de juego intenso. Precio: $130 USD.'">
  </app-card-r>

</div>

<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    
  <app-card
  [title]="'Mouse Logitech G502 HERO'"
  [text]="'El Logitech G502 HERO es uno de los ratones más populares entre los gamers por su precisión y personalización. Equipado con un sensor HERO de 16,000 DPI, este mouse ofrece una respuesta impecable en cualquier situación. Con 11 botones programables y pesas ajustables, puedes adaptar este mouse a tus necesidades exactas, ya sea para juegos de disparos, estrategia o MOBA. Precio: $60 USD.'">
  </app-card>

  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">

</div>

<div>
  <h1 class="text-[30px] font-bold font-bebas-neue text-black uppercase mt-16 text-center">
    PERIFERICOS PARA TRABAJO
  </h1>
</div>
 
<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    
  <app-card
  [title]="'Monitor Dell UltraSharp 34 pulgadas'"
  [text]="'Este monitor ultrawide de 34 pulgadas de Dell está diseñado para profesionales que necesitan maximizar su productividad. Con su pantalla curva y resolución WQHD, ofrece un amplio espacio de trabajo y una inmersión total en cada tarea. Ideal para editores de video, diseñadores gráficos o cualquier persona que necesite múltiples ventanas abiertas al mismo tiempo. Su tecnología de color avanzada garantiza imágenes vibrantes y precisas. Precio: $700 USD.'">
  </app-card>


  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">

</div>

<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
  
  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mx-4">

  <app-card-r
  [title]="'Teclado ergonómico Microsoft Sculpt'"
  [text]="'El teclado Microsoft Sculpt está diseñado pensando en la ergonomía. Con un diseño curvado y un soporte integrado para las muñecas, reduce la tensión en las manos y muñecas durante largas sesiones de escritura. Ideal para usuarios que pasan muchas horas frente a la computadora, su diseño ayuda a mejorar la postura y reducir el riesgo de lesiones. Precio: $80 USD.'">
  </app-card-r>

</div>

<div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    
  <app-card
  [title]="'Mouse vertical Logitech MX'"
  [text]="'El mouse vertical Logitech MX es una excelente opción para quienes buscan un diseño ergonómico que reduzca la tensión en la muñeca. Su diseño vertical único promueve una postura natural, lo que lo convierte en la opción perfecta para quienes sufren de dolores por uso prolongado del mouse. Además, cuenta con conectividad inalámbrica y botones programables para mejorar la productividad. Precio: $100 USD.'">
  </app-card>  

  <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">

</div>