<div class="w-full py-10">
  <div class="max-w-screen-lg mx-auto px-6">

    <h1 class="text-[30px] font-bold font-bebas-neue text-black uppercase my-24 text-center">
      Periféricos y accesorios para optimizarte
    </h1>

    <div class="flex items-start space-x-6">

      <div class="w-1/3 border-r-2">
        <img src="/p2/setupL.jpeg" alt="Periféricos" class="w-full h-auto object-cover">
      </div>

      <div class="w-1/2">
        <h2 class="text-[24px] font-bold font-bebas-neue text-black mb-4">
          La clave para mejorar tu experiencia
        </h2>
        <p class="text-[16px] font-open-sans text-black text-justify mb-4">
          Contar con buenos componentes internos es esencial, pero los periféricos y accesorios son igual de importantes para sacar el máximo provecho de tu configuración. Un buen teclado, ratón y monitor pueden mejorar notablemente tu productividad y comodidad, tanto en juegos como en el trabajo diario.
        </p>
        <p class="text-[16px] font-open-sans text-black text-justify mb-4">
          Más allá de lo básico, otros accesorios como auriculares, cámaras web o sistemas de audio también pueden elevar tu experiencia de usuario. Elegir periféricos que se adapten a tus necesidades no solo te permite trabajar o jugar de manera más eficiente, sino que también transforma tu equipo en una herramienta personalizada y cómoda.
        </p>
        <p class="text-[16px] font-open-sans text-black text-justify">
          En esta sección, exploraremos cómo los periféricos correctos pueden optimizar tu experiencia y hacer que disfrutes aún más de tu computadora.
        </p>
      </div>
    </div>
  </div>
</div>

<app-custom-section
    [square1Content]="'PERIFERICOS'"
    [square2Content]="'COMPUTADORAS'"
    [square3Content]="'COMPONENTES'"
    [square1Icon]="svgIcon2"
    [square2Icon]="svgIcon2"
    [square3Icon]="svgIcon3">
</app-custom-section>
