<div class="mt-7 mb-7">
    <div class="carousel relative">
    <div class="slides">
      <div class="slide w-full" id="slide1">
        <img src="carousel/carousel1.jpeg" alt="Imagen 1" class="w-full">
      </div>
      <div class="slide w-full" id="slide2">
        <img src="carousel/carousel2.jpeg" alt="Imagen 2" class="w-full">
      </div>
      <div class="slide w-full" id="slide3">
        <img src="carousel/carousel3.jpg" alt="Imagen 3" class="w-full">
      </div>
    </div>
  </div>
</div>

  