<app-carousel></app-carousel>
<app-custom-section
    [square1Content]="'PERIFERICOS'"
    [square2Content]="'COMPUTADORAS'"
    [square3Content]="'COMPONENTES'"
    [square1Icon]="svgIcon1"
    [square2Icon]="svgIcon2"
    [square3Icon]="svgIcon3">
</app-custom-section>
<div class="w-full  py-10">
    <div class="max-w-screen-lg mx-auto px-6">

      <h1 class="text-3xl font-bold uppercase text-black font-bebas-neue mb-6">
        La importancia de elegir correctamente tus componentes
      </h1>
  
      <p class="text-base text-black font-open-sans text-justify">
        Al armar tu computadora, elegir los componentes adecuados es crucial. No se trata solo de juntar piezas; cada decisión impacta el rendimiento y la experiencia general. Un buen procesador, suficiente memoria RAM y una tarjeta gráfica adecuada pueden marcar la diferencia entre un sistema que funciona de manera fluida y uno que se queda atrás.
        <br /><br />
        Entender qué componentes necesitas para tu estilo de vida—ya sea gaming, trabajo de oficina o diseño—te permitirá maximizar tu inversión y disfrutar de un equipo que realmente cumpla con tus expectativas.
        <br /><br />
        En nuestra página, te daremos una visión general de lo que debes considerar al seleccionar tus componentes, ayudándote a tomar decisiones informadas y emocionantes para tu próxima computadora. ¡Descubre por qué elegir bien es el primer paso hacia una experiencia informática excepcional!
      </p>
    </div>
  </div>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8">
    
    <app-card 
      [title]="'Cada pieza cuenta'"
      [text]="'Escoger los componentes correctos para una computadora no es solo cuestión de presupuesto, sino de entender qué necesitas según el uso que le vas a dar. Ya sea que la uses para juegos, edición de video o trabajo diario, cada pieza influye en el rendimiento.'">
    </app-card>

    <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md">

  </div>
  

