<div class="w-full  pt-10">
    <div class="max-w-screen-lg mx-auto px-6">

      <h1 class="text-3xl font-bold uppercase text-black font-bebas-neue mb-6 text-center">
        La mejor pc para cada tipo de trabajo
      </h1>
  
      <p class="text-base text-black font-open-sans text-justify">
        En el mundo moderno, contar con una computadora adecuada para tu tipo de trabajo puede marcar la diferencia entre eficiencia y frustración. No todas las tareas requieren el mismo equipo, y una buena elección puede ayudarte a maximizar tu rendimiento, ya sea que te dediques al diseño gráfico, programación, edición de video o trabajo de oficina. Aquí te presentamos una selección de las mejores PCs, cada una diseñada para cubrir necesidades específicas y ofrecer un equilibrio perfecto entre rendimiento y precio.
        <br /><br />
      </p>
    </div>
  </div>

  <app-custom-section
    [square1Content]="'PERIFERICOS'"
    [square2Content]="'COMPUTADORAS'"
    [square3Content]="'COMPONENTES'"
    [square1Icon]="svgIcon1"
    [square2Icon]="svgIcon2"
    [square3Icon]="svgIcon3">
</app-custom-section>


<div>
  <h2 class="text-[24px] font-bold font-bebas-neue text-black my-8 text-center">PC de Entrada</h2>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    <app-card
      [title]="'PC Básica de Oficina'"
      [text]="'Esta configuración es perfecta para tareas básicas de oficina como edición de documentos, navegación por internet y correo electrónico. Con componentes eficientes y un precio asequible, es ideal para usuarios que no necesitan gran potencia de procesamiento.'">
    </app-card>
    
    <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">
    </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: Intel Core i3-10100 - $120 USD</li>
    <li>Placa Madre: ASUS Prime B460M-A - $85 USD</li>
    <li>Memoria RAM: Kingston 8GB DDR4 - $40 USD</li>
    <li>Almacenamiento: SSD Kingston 240GB - $30 USD</li>
    <li>Fuente de Poder: EVGA 450W - $40 USD</li>
    <li>Gabinete: Thermaltake H18 - $45 USD</li>
  </ul>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">

 <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">

    <app-card
      [title]="'PC de Estudio'"
      [text]="'Ideal para estudiantes que realizan trabajos escolares, esta PC es eficiente y asequible, perfecta para uso en clase y proyectos personales. Su diseño compacto ayuda a maximizar el espacio en el escritorio.'">
    </app-card>
    
  
  </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: AMD Athlon 3000G - $50 USD</li>
    <li>Placa Madre: ASRock A320M-HDV - $60 USD</li>
    <li>Memoria RAM: Crucial 4GB DDR4 - $25 USD</li>
    <li>Almacenamiento: HDD Seagate 1TB - $40 USD</li>
    <li>Fuente de Poder: Cooler Master 400W - $35 USD</li>
    <li>Gabinete: AeroCool Cylon - $40 USD</li>
  </ul>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    <app-card
      [title]="'PC Familiar'"
      [text]="'Esta configuración es perfecta para toda la familia, permitiendo la navegación web, streaming y tareas escolares. Proporciona un buen equilibrio entre rendimiento y precio, ideal para el hogar.'">
    </app-card>
    
    <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">
    </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: Intel Pentium Gold G5400 - $65 USD</li>
    <li>Placa Madre: MSI H310M Pro-VD - $70 USD</li>
    <li>Memoria RAM: Patriot 8GB DDR4 - $35 USD</li>
    <li>Almacenamiento: SSD Adata 480GB - $55 USD</li>
    <li>Fuente de Poder: Thermaltake 500W - $45 USD</li>
    <li>Gabinete: Cooler Master Q300L - $50 USD</li>
  </ul>
</div>

<div>
  <h2 class="text-[24px] font-bold font-bebas-neue text-black my-8 text-center">PC Gamer</h2>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    <app-card
      [title]="'PC Gamer Económica'"
      [text]="'Perfecta para jugar títulos en resolución 1080p, esta configuración ofrece un excelente rendimiento por su precio. Ideal para jugadores que buscan calidad sin gastar mucho.'">
    </app-card>
    
    <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">  </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: AMD Ryzen 3 3200G - $100 USD</li>
    <li>Placa Madre: ASUS ROG Strix B450-F - $120 USD</li>
    <li>Memoria RAM: Corsair 16GB DDR4 - $80 USD</li>
    <li>Tarjeta Gráfica: GTX 1650 - $170 USD</li>
    <li>Almacenamiento: SSD Kingston 480GB - $50 USD</li>
    <li>Fuente de Poder: EVGA 500W - $60 USD</li>
    <li>Gabinete: NZXT H510 - $70 USD</li>
  </ul>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">

    <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">
    <app-card
      [title]="'PC Gamer de Media Gama'"
      [text]="'Esta configuración es ideal para jugadores que buscan un equilibrio entre precio y rendimiento, capaz de manejar juegos modernos a 1080p con detalles altos y una buena tasa de cuadros por segundo.'">
    </app-card>
    
    
  </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: Intel Core i5-10400 - $200 USD</li>
    <li>Placa Madre: MSI B460M PRO-VDH - $100 USD</li>
    <li>Memoria RAM: G.Skill Ripjaws 16GB DDR4 - $75 USD</li>
    <li>Tarjeta Gráfica: RTX 2060 - $300 USD</li>
    <li>Almacenamiento: SSD Crucial 1TB - $100 USD</li>
    <li>Fuente de Poder: Cooler Master 600W - $70 USD</li>
    <li>Gabinete: Corsair 200R - $65 USD</li>
  </ul>

  
  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    <app-card
      [title]="'PC Gamer Alta Gama'"
      [text]="'Diseñada para los jugadores más exigentes, esta configuración permite jugar en 4K y manejar títulos más demandantes sin esfuerzo. Perfecta para quienes buscan lo último en rendimiento.'">
    </app-card>
    
 <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">
  </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: AMD Ryzen 7 5800X - $400 USD</li>
    <li>Placa Madre: ASUS ROG Strix X570-E - $250 USD</li>
    <li>Memoria RAM: Corsair Vengeance LPX 32GB DDR4 - $160 USD</li>
    <li>Tarjeta Gráfica: RTX 3080 - $800 USD</li>
    <li>Almacenamiento: SSD Samsung 970 EVO 2TB - $300 USD</li>
    <li>Fuente de Poder: Seasonic 750W - $120 USD</li>
    <li>Gabinete: Phanteks Eclipse P400A - $90 USD</li>
  </ul>
</div>

<div>
  <h2 class="text-[24px] font-bold font-bebas-neue text-black my-8 text-center">PC de Trabajo</h2>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    <app-card
      [title]="'PC de Trabajo General'"
      [text]="'Ideal para tareas de oficina y trabajo general, esta configuración proporciona un rendimiento confiable para aplicaciones de productividad y multitarea.'">
    </app-card>
    
    <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">
  </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: Intel Core i5-10400 - $200 USD</li>
    <li>Placa Madre: Gigabyte B460M DS3H - $100 USD</li>
    <li>Memoria RAM: Kingston 16GB DDR4 - $75 USD</li>
    <li>Almacenamiento: HDD Seagate 2TB - $50 USD</li>
    <li>Fuente de Poder: Corsair 500W - $60 USD</li>
    <li>Gabinete: Cooler Master MasterBox Q300L - $50 USD</li>
  </ul>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">

    <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">

    <app-card-r
      [title]="'PC para Edición de Video'"
      [text]="'Con una potencia gráfica mejorada, esta configuración es ideal para diseñadores gráficos y editores de video. Permite el uso de software pesado como Adobe Creative Suite sin problemas.'">
    </app-card-r>
    
   
  </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: AMD Ryzen 5 5600X - $300 USD</li>
    <li>Placa Madre: MSI B550M PRO-VDH - $120 USD</li>
    <li>Memoria RAM: G.Skill Ripjaws 32GB DDR4 - $150 USD</li>
    <li>Tarjeta Gráfica: RTX 3060 Ti - $400 USD</li>
    <li>Almacenamiento: SSD Samsung 970 EVO 1TB - $150 USD</li>
    <li>Fuente de Poder: Corsair 650W - $90 USD</li>
    <li>Gabinete: Fractal Design Meshify C - $80 USD</li>
  </ul>

  <div class="flex max-w-screen-lg mx-auto items-center gap-8 pt-16">
    <app-card
      [title]="'PC para Desarrollo de Software'"
      [text]="'Esta configuración es óptima para programadores y desarrolladores de software. Con un alto rendimiento en tareas de compilación y múltiples instancias de entornos de desarrollo, es ideal para trabajos intensivos en recursos.'">
    </app-card>
    
    <img src="card/pagina/C1.jpg" alt="Image" class="w-2/5 object-cover rounded-lg shadow-md mr-4">
  </div>
  
  <ul class="list-disc pl-5 pt-4 ml-36">
    <li>Procesador: Intel Core i7-11700K - $350 USD</li>
    <li>Placa Madre: ASUS ROG Strix Z590-E - $250 USD</li>
    <li>Memoria RAM: Corsair Vengeance LPX 32GB DDR4 - $160 USD</li>
    <li>Almacenamiento: SSD Samsung 970 EVO 2TB - $300 USD</li>
    <li>Fuente de Poder: Seasonic 750W - $120 USD</li>
    <li>Gabinete: Phanteks Eclipse P400A - $90 USD</li>
  </ul>
</div>
